TZ=Europe/Istanbul
OCS_DB_SERVER=ocsdb
OCS_DB_USER=ocsuser
OCS_DB_PASS=gucluSifre123
OCS_DB_NAME=ocsweb
OCS_SSL_ENABLED=0
OCS_DBI_PRINT_ERROR=0

# Database Settings
MYSQL_ROOT_PASSWORD=gucluRootSifre456
MYSQL_USER=ocsuser
MYSQL_PASSWORD=OCS_DB_PASSaynıolmalı
MYSQL_DATABASE=ocsweb

# Nginx Proxy Settings
LISTEN_PORT=80
PORT_TYPE=""
SSL_CERT=ocs-dummy.crt
SSL_KEY=ocs-dummy.key
API_AUTH_FILE=ocsapi.htpasswd
READ_TIMEOUT=300
CONNECT_TIMEOUT=300
SEND_TIMEOUT=300
MAX_BODY_SIZE=1G